<div class="body">
      <% @articles.each do |article| %>
        <article class="body__article">
          <h3 class="article__title"><%= link_to article.title, article_path(article) %></h3>
          <p class="article__text"><%= article.text %></p>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </article>
      <% end %>
</div>    
