<div class="container">
	<div class="form-wrapper">
		 <h1 class="form-title"> New article</h1>
			<%= render 'form' %>
			<span><%= link_to 'Back', articles_path, :class => "button__back"%></span>
	</div>
</div>
