<article class="wrapper-article">

	<h3 class="article-title"><%= @article.title %></h3>
	<p class="article-text"><%= @article.text %></p>

  <% if user_signed_in? %>
	 <%= link_to 'Edit', edit_article_path(@article) , :class => "button-edit" %>
	 <%= link_to 'Back', articles_path , :class => "button-back" %>
  <% end %>
</article>
