<div class="container">
	<div class="container__article">

		  <h3 class="article__title"><%= @article.title %></h3>
		  <p class="article__text"><%= @article.text %></p>

		<%= link_to 'Edit', edit_article_path(@article) , :class => "button__edit" %> |
		<%= link_to 'Back', articles_path , :class => "button__back" %>
	</div>
</div>
