//breakpoints:
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
//$screen-xxl-min: ;

//fonts:
$font-size-base: 16px;
$font-size-xs-screen: 11px;
$font-size-lg-screen: 16px;
$font-size-xxl-screen: 16px * 1,25;
$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;


$blue: #0000ff;
$textarea-dashed: 1px dashed blue;