.about-container {
  margin-bottom: 8rem;
  p {
    //color: blue;
    text-align: center;
    font-size: 8rem;
    letter-spacing: 0.1rem;
    font-family: Times;
    line-height: 1.3em
  }
}

.circle {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 150px);
  transform: translate(50%, 50%);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.wrapper-about {
  @include span(9 last);
  line-height: 1.3em;
}