.mobile-menu {
  background: url('psychedelic-01.svg');
  background-repeat: no-repeat;
  border: 1px solid blue;
  height: 4rem;
  width: 7rem;
  position: absolute;
  top: 1em;
}
.cross-hide {
  height: 4rem;
  width: 7rem;
  position: absolute;
  top: 1em;
}

.main-nav, .admin-nav {
  @include container;
  width: 100%;
   margin-top: 0em;
    left: 0.5em;
    width: 100%;
    z-index: 1000;
    line-height: 2.5rem;
  @media  (min-width: $screen-md) {
    margin-top: 1em;
    position: fixed;
    left: 0;
    line-height: 1;
  }
}

.main-nav {
  z-index: 1000;
  font-family: "Times New Roman";
}

.admin-login-wrapper {
  position: fixed;
  float: right;
  margin-right: 0;
  right: 2em;
  top: 1rem;
}

//ul:
.menu, .admin-menu {
  @media  (min-width: $screen-md) {
    @include span(8);
    margin-bottom: 1em;
  }
}
.menu {
  z-index: 100;
  position: absolute;
  top: 4rem;
  @media  (min-width: $screen-md) {
    position: inherit;
    top: 1em;
    float: left;
  }
}
.admin-menu {
  margin-top: 3em;
}

//li:
.menu-item, .admin-menu-item, .admin-login-item {
  text-align: left;
  display: inline-block;
  color: black;
  @media  (min-width: $screen-md) {
    text-align: center;
  }
}

.menu-item {
  @include span(2);
  text-transform: uppercase;
  font-family: sans-serif;
  display: block;
  float: none;
  color: black;

  @media (min-width: $screen-md) {
    text-align: center;
      display: inline-block;
      float: left;
    }

  a {
    text-decoration: none;
    color: #111;
    &:hover {
      border: none;
      border-top: 2px solid #111;
    }
    &:visited {
      text-decoration: none;
      color: #111;
    }
    &:focus {
      text-decoration: none;
      color: #111;
    }
  }
}
.admin-menu-item {
  @include span(2);
 a {
    text-decoration: none;
    color: $red;
    font-size: 0.8rem;
   &:hover {
     background-color: #F6EE15;
   }
 }
}

.admin-login-item {
  display: block;
  text-align: right;
  @include font(inherit, 0.8rem, $blue, none);
  a {
    text-decoration: none;
    &:hover {
      background-color: #F6EE15;
    }
    &:visited {
      text-decoration: none;
      color: #111;
    }
    &:focus {
      text-decoration: none;
      color: #111;
    }
  }
}





