.main-nav, .admin-nav {
  @include container;
  position: fixed;
  margin-top: 1em;
  width: 100%;

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 0em;
    left: 0.5em;
    width: 100%;
    z-index: 1000;
    line-height: 2.5rem;
    .menu-item {
      display: block;
      float: none;
    }
  }
}

.main-nav {
  z-index: 1000;
  font-family: "Times New Roman";
}

.admin-login-wrapper {
  position: fixed;
  float: right;
  margin-right: 0;
  right: 2em;
  top: 1rem;
}

//ul:
.menu, .admin-menu {
  @include span(8);
  margin-bottom: 1em;
}
.menu {
  z-index: 100;
}
.admin-menu {
  margin-top: 3em;
}

//li:

.menu-item, .admin-menu-item, .admin-login-item {
  display: inline-block;
  text-align: center;
  color: black;
}

.menu-item {
  @include span(2);
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(255, 255, 0, 1);
  a {
    text-decoration: none;
    &:hover {
      border: none;
      border-top: 2px solid #111;
    }
    &:visited {
      text-decoration: none;
      color: #111;
    }
    &:focus {
      text-decoration: none;
      color: #111;
    }
  }
}
.admin-menu-item {
  @include span(2);
 a {
    text-decoration: none;
    color: $red;
    font-size: 0.8rem;
   &:hover {
     background-color: #F6EE15;
   }
 }
}

.admin-login-item {
  display: block;
  text-align: right;
  @include font(inherit, 0.8rem, $blue, none);
  a {
    text-decoration: none;
    &:hover {
      background-color: #F6EE15;
    }
    &:visited {
      text-decoration: none;
      color: #111;
    }
    &:focus {
      text-decoration: none;
      color: #111;
    }
  }
}





