.project-wrapper {
  @include span(12);
}


.project-thumb {
  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    &:hover {
      filter: none;
      -webkit-filter: none;
    }
  }
}

.project-title {
  text-align: left;
  font-family: sans-serif;
	a {
      color: #111;
      font-size: 1.5rem;
      font-family: sans-serif;
      font-weight: normal;
        &:hover {
          color: yellow;
          transition: 0.3s;
		}
	}
}

.project-description {
  @include font($font-stack, 12px, black, none);
}

.project-show, .project-edit, .project-destroy {
  font-size: 0.6rem;
  float: right;
  margin-left: 3px;
  margin-top: 3%;
  color: $red;
  &:hover {
    color: $turquoise;
    border-bottom: 1px solid $turquoise;
  }
}

//----------------------------------show----------------------------------:

.gallery-wrapper {
  height: 90vh;
  width: 100%;
  position: relative;
}

.project-img {
  max-width: 90vw;
  min-height: 30vh;
  max-height: 70vh;
  margin-top: 3%;
  @media (min-width: $screen-md) {
    min-height: 70vh;
  }
}

.cycle-slideshow {
  position: absolute;
  width: 100%;
}

#next {
  display: none;
  @media (min-width: $screen-md) {
    height: 100%;
    width: 45%;
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    cursor: url(arrow-right.cur), url(arrow-right.png), url(arrow-right.svg), pointer;
  }
}

#prev {
  display: none;
  @media (min-width: $screen-md) {
    height: 100%;
    width: 45%;
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 0%;
    left: 0;
    cursor: url(arrow-left.cur), url(arrow-left.png), url(arrow-left.svg), pointer;
  }
}

#showCaption {
  height: 50%;
  width: 40%;
  bottom: 0;
  right: 30%;
  display: inline-block;
  position: absolute;
  z-index: 100;
  cursor: url(arrow-down.png), url(arrow-down.svg), crosshair;
}

#caption-wrapper {
  height: 100vh;
  padding-top: 5%;
}

.show-project-title {
  @include span(3);
  line-height: 1.3em;
  letter-spacing: 1px;
}

.show-project-description {
  @include span(8 last);
  font-size: 2rem;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.show-controllers {
  width: 20%;
  position: relative;
  top: 30px;
  a {
    text-decoration: none;
    color: #111;
    &:hover {
      color: $turquoise;
    }
  }
}


//----------------------------------background----------------------------------:
.fazed-grunion {
  position: fixed;
  top: 45vh;
  height: 10vh;
  width: 95vw;
  text-align: center;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  @include blur(2px);
  @include font(sans-serif, 10vh, #111, Uppercase);
  z-index: -1;
}

.fazed-circle {
  border: 3px solid #111;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  display: block;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
  animation: pulse 1s infinite;
  @include blur(2px);
  z-index: -1;
}
