.project-wrapper {
	@include span(9 last);
	padding: 1em;
}

.new-project-wrapper {
	@include span(9 last);
	padding: 1em;
	border: 4px solid $blue;
}

.project {
	width: span(4);
	// @include gutter;
	border: 1px solid red;
	float: left;
	padding: gutter;
}

.project-title {
	text-transform: uppercase;
    color: $blue;
}

.project-description {
	@include font($font-stack, 12px, black, none);
}