<div class="about-wrapper">
  <div class="about-container">
      <p>We are multi-hearted animal</p>
      <span class="circle"></span>
  </div>
  <a href="#about-us" class="nav-arrow text-shadow-yellow">About Us</a>
</div>

<div id="about-us" class="about-wrapper-desc">
  <div class="wrapper-text-about">
    <p class="about-description">We are a multi-headed and multi-hearted entity.
      Our collective is made up of 12 individuals who identify as graphic designers,
      but also as researchers, artists, printers, programmers, educators, students and collaborators. T
      he Van Eyck’s inaugural Summer Design Academy ‘The Digital vs. The Archaic’, held by the Design Displacement Group in 2015 was our point of origin;
      and now, as a collective, we are proposing to embark on a social experiment which attempts to answer the seemingly simple question, “how do we collaborate?”</p>
  </div>
  <a href="#team" class="nav-arrow text-shadow-yellow"> Team </a>
</div>

<div id="team" class="about-wrapper-team">
    <ul class="members">
      <li class="member">Benjamin Hickethier</li>
      <li class="member">Eun J Lee</li>
      <li class="member">Ianthe Bato</li>
      <li class="member">Joanna Rosso</li>
      <li class="member">João Doria de Souza</li>
      <li class="member">Lisa Maione</li>
      <li class="member">Luca Bogoni</li>
      <li class="member">Louie Isaaman-Jones</li>
      <li class="member">Magdalena Czarnotka</li>
      <li class="member">Maria Kociszewska</li>
      <li class="member">Rogier David Bak</li>
      <li class="member">Youngeun (Bree) Sohn</li>
    </ul>
</div>
