<div class="about-container">
    <p>We are multi-hearted animal</p>
    <span class="circle"></span>
</div>

<div class="wrapper-about">
  <p>We are a multi-headed and multi-hearted entity.
    Our collective is made up of 12 individuals who identify as graphic designers,
    but also as researchers, artists, printers, programmers, educators, students and collaborators. T
    he Van Eyck’s inaugural Summer Design Academy ‘The Digital vs. The Archaic’, held by the Design Displacement Group in 2015 was our point of origin;
    and now, as a collective, we are proposing to embark on a social experiment which attempts to answer the seemingly simple question, “how do we collaborate?”</p>
</div>


