<div class="contact-wrapper">
  <p class="contact">You are more than welcome to say hi here<br><span class="fazed-mail"> fazedgrunion@gmail.com </span>&#8629;</p>
  <div class="contact-social">You can also check us out here:
    <ul>
      <li><a href="https://www.facebook.com/fazedgrunion/?fref=ts">facebook</a></li>
      <li><a href="https://www.instagram.com/fazedgrunion/">instagram</a></li>
    </ul>
  </div>
</div>