<div class="form-wrapper shadow-grey">
		<h1 class="form-title">New project</h1>
		<span class="back-project-button"><%= link_to '&larr; back'.html_safe, projects_path %></span>
		<%= render 'form' %>
</div>