.form-title-wrap, .form-text-wrap {
    border: 1px solid transparent;
}

.form-title {
	@include font($font-stack,inherit, $blue, Uppercase);
}

.form-title-wrap {
	margin-bottom: 3em;
}

.form-text-wrap {
	height: 100vh;
}

.form-add-title, .form-add-text {
	@include span(3);
	text-align: right;
	font-size: 70%;
}

.form-add-title-textarea, .form-add-text-textarea {
	@include span(9 last);
	border: $textarea-dashed;
	resize: none;
	padding: 1%;
}

.form-add-text-textarea{
	height: 90%;
}

.button__submit {
	@include span(2 last);
	border: none;
	padding: 7px 12px;
	background-color: blue;
	font: 700 13px/18px Helvetica, arial;
	color: white;
	-webkit-appearance: none;
}