$susy: (
        columns: 12,
        container: 1120px,
        global-box-sizing: border-box
);

@include border-box-sizing;

.container {
  @include container;
  top: 10em;
  position: relative;
}

.container__about {
	width: 100%;
  	max-width: 1200px;
  	margin: auto;
}