<nav>
  <ul class="menu">
    <li class="menu__list">News</li>
    <li class="menu__list">Projects</li>
    <li class="menu__list">About</li>
    <li class="menu__list">Contact</li>
    <li class="menu__list"><%= link_to 'New article', new_article_path %></li>
  </ul>
</nav>